<form [formGroup]="form">
    <div class="form-group">
        <label for="old-password">Old Password</label>
        <input 
            formControlName="oldPassword"
            id="old-password"
            type="text" 
            class="form-control">
        <fa-icon
            [spin]="true"
            [icon]="['fas','spinner']"
            *ngIf="oldPassword.pending"
        ></fa-icon>
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors.required">Old Password is required</div>
            <div *ngIf="oldPassword.errors.shouldBeCorrect">Old Password is Wrong</div>
        </div>
    </div>
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input 
            formControlName="newPassword"
            id="new-password" 
            type="text" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">New Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input 
            formControlName="confirmPassword"
            id="confirm-password" 
            type="text" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
        </div>
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors.shouldMatch" class="alert alert-danger">
            Passwords should Match
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>
</form>